
.container {
  border: 2px solid black;
  width: 50%;
  text-align: center;
  align-items: center;
  margin-left: 25%;
  margin-top: 25px;
}

.container h1 {
  text-decoration: underline;
}

.search-bar {
  width: 90%;
  margin: 20px;
  margin-left: 30px;
}

.search-bar input {
width: 75%;
padding: 10px;
border: 2px solid black;
font-size: 22px;
font-weight: bolder;
}

.search-bar ::placeholder {
  color:rgb(244, 172, 146);
}

.search-bar button {
  width: 20%;
  padding: 10px;
  background-color: white;
  border: 2px solid black;
  border-left: none;
  font-weight: bolder;
  font-size: 22px;
  cursor: pointer;
  }

  .search-bar button:hover , input:hover {
    background-color: #dbdcdcb9;
  }

 .data h1{
    text-decoration: none;
    font-size: 25px;
  }

 .data span{
    font-weight:lighter;
    font-size: 21px;
  }

  .search-history h2 {
    text-align: left;
    margin-left: 10px;
  }

  .search-history table, th {  
   font-weight: bolder;
   font-size: 22px;
    }

  .search-history table, td, th {  
    border: 2px solid black;
    text-align: center;
    padding: 15px;
    font-size: 22px;
  }
  
  .search-history .btn-delete, tr {  
    border: none;
    width: 100%;
    font-weight: lighter;
  }
  
  table {
    border-collapse: collapse;
    width: 100%;
  }